.App {

}

.hwTitle {
    display: flex;
  position: relative;
  padding: 50px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}




