.sendForm .textarea {

    position: absolute;
    width: 976px;
    height: 40px;
    left: 70px;
    top: 432px;

    background: #F5F7FB;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;

    }

.textarea {
    position: absolute;
    width: 113px;
    height: 17px;
    left: 94px;
    top: 444px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: rgba(0, 0, 0, 0.6);

    opacity: 0.9;
}

.button {
border: none;
    position: absolute;
    width: 120px;
    height: 40px;
    left: 1090px;
    top: 432px;
    color: #FFFFFF;
    background: #0066CC;
    border-radius: 20px;

}

.button:hover {

}
.button:active {

}
