.button {
    width: 133px;
    height: 30px;
    border-radius: 3px;
    color: #FFFFFF;
    transition-duration: 0.4s;
}

.disabled {
    background: #004D99;
    opacity: 0.5;
}

.secondary {
    background-color: #cc9c00;
}

.default {
    background: #0066CC;
    border-radius: 3px;
}

.red {
    background: #CC1439;
    border-radius: 3px;
}

.default:hover {
    background-color: white; /* Green */
   color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.red:hover {
    background-color: white; /* Green */
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.secondary:hover {
    background-color: white; /* Green */
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.default:active {
    color: purple;
}

.secondary:active {
    color: purple;
}

.red:active {
    color: purple;
}

.button:disabled {
}
